:root{

  /*colors*/
  --button-color: #4C5FD5;
  --first-color: #dadbf1;
  --white-color: #fff;
  --black-color: #000000;
  --dark-gray: #191a1b;

  /*font-size*/
  --header-size: 1.8rem;

}
body{
  padding: 0;
  margin: 0;
}

.nav{
  background-color: var(--black-color);
  color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  padding-inline: 150px;
}

.logo-header a{
  color: var(--white-color);
  font-size: var(--header-size);
  text-decoration: none;

}
.logo-header i{
  color: var(--black-color);
  background-color: var(--white-color);
  padding: 5px;
  border-radius: 15px;

}
.Abstract{
  border-right: 3px solid #fff;
  padding-right: 15px;
}
.logo-header a:last-child{
  padding-left: 15px;
}
.header-btn a{
  text-decoration: none;
  font-size: var(--header-size);
  color: var(--white-color);
}
.header-btn a:first-child{
  background-color: var(--dark-gray);
  padding: 8px 20px;
  border-radius: 10px;
  border: 1px solid var(--white-color);
  margin-right: 15px;
  
}
.header-btn a:first-child:hover{
  cursor: pointer;
}
.header-btn a:last-child{
  background-color: var(--button-color);
  padding: 10px 25px;
  border-radius: 10px;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.header-btn a:last-child:hover{
  background-color: var(--white-color);
  color: var(--black-color);
}
.toggle-bar{
  display: none;
  
}
.toggle-bar .toggle-search, .toggle-menu{
  color: white;
  background-color: var(--black-color);
  border: none;
  font-size: var(--header-size);

}
.toggle-search{
  transition: transform 0.3s ease;
}
.toggle-search:hover{
  transform: scale(1.2); 
  cursor: pointer;
}
.toggle-menu:hover{
  cursor: pointer;
}


/*=================help section==============*/
.help-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 550px;
  background-color: var(--first-color);
}
.help-container h1{
  font-size: 6rem;
}
.help-container form input{
padding: 20px 30px;
width:100%;
border: 1px solid var(--black-color);
height: 80px;
outline: none;
border-radius: 10px;
font-size: 25px;
}
.help-container form input:hover{
  border: 1px solid var(--button-color);
}
.search-div{
  width: 40%;
  position: relative;
  margin-bottom: 100px;
}
.search-div i{
 position: absolute;
 top: 20px;
 right: 20px;
 font-size: var(--header-size);
}
/*===============list-items-section===================*/
.items-section{
  width: 100%;
}
.list-items-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  width: 80%;
  height: auto;
  gap: 20px;
  margin-block: 150px;
  
}
.list-item{
  display: flex;
  width: 100%;
  
}
.list-icon {
  width: 120px;
  align-items: center;
}
.list-icon img{
  position: relative;
  top: -10px;
  height: 120px;
  margin-right: 10px;
}

.list-info h4{
  font-size: var(--header-size);
}
.list-info p{
  font-size: 1.5rem;
  line-height: 35px;
  margin-top: -30px;
}
.list-info a{
  font-size: 1.5rem;
  text-decoration: none;
  color:var(--button-color) ;
}
.list-info a:hover{
  text-decoration:underline;
}


@media (max-width:1200px) {
  .nav{
    padding-inline: 20px;
  }
  .header-btn{
    display: none;
  }
  .toggle-bar{
    display: inline-block;
  }

}


@media () {
  
}